[http]
enabled = true
hostname = ::
port = 80

[spotify]
enabled = true
username = {{ mopidy_username }}
password = {{ mopidy_password }}
client_id = {{ mopidy_client_id }}
client_secret = {{ mopidy_client_secret }}
bitrate = 320
